{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização do Horário</h1>
  {% endblock view %}
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/horario/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Dia: </strong>{{db.dia}}<br>
  <strong>Turno: </strong>{{db.turno}}<br>
  <strong>Horários: </strong>{{db.horario}}<br>
  <strong>Membro: </strong>{{db.membro}}<br>

  {% endblock dados %}
</div>
{% endblock content %}