{% extends 'base.html' %}
{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Horários</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  {% if user.is_authenticated %}
  <a href="{% url 'horario:form'%}" class="btn btn-add">Adicionar Horário</a>
  {% endif %}
</div>
{% if db %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          {% block th %}
          <th scope="col">Hora Entrada</th>
          <th scope="col">Hora Saída</th>
          <th scope="col">Turno</th>
          <th scope="col">Dia</th>
          <th scope="col">Membro</th>
          <th scope="col"></th>
          {% endblock th %}
        </tr>
      </thead>
      <tbody>
          {% for dbs in db %}
              <tr>
                  {% block linhas %}
                  <td>{{dbs.horario_entrada}}h</td>
                  <td>{{dbs.horario_saida}}h</td>
                  <td>{{dbs.turno}}</td>
                  <td>{{dbs.dia_semana}}</td>
                  <td>{{dbs.membro}}</td>
                  {% if user.is_authenticated %}
                  <td>
                    <a href="{% url 'horario:view' dbs.id %}" class="btn btn-view">Visualizar</a>
                    <a href="{% url 'horario:edit' dbs.id %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'horario:delete' dbs.id %}" class="btn btn-delete">Deletar</a>
                  </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  {% endblock linhas %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há Horários cadastrados
</h1>
{% endif %}
{% endblock content %}