{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Projetos</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="{% url 'projeto:projectForm' %}" class="btn btn-add">Adicionar Projetos</a>
</div>
{% if pjt %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Coordenador</th>
          <th scope="col">Participantes</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
          {% for pjts in pjt %}
              <tr>
                  
                  <td>{{pjts.nome}}</td>
                  <td>{{pjts.coordenador_projeto}}</td>
                  <td>{{pjts.participantes}}</td>
                  <td>{{pjts.laboratorio_projeto}}</td>
                  <td>{{pjts.descricao}}</td>

                  <td>
                      <a href="{% url 'projeto:projectView' pjts.id %}" class="btn btn-view">Visualizar</a>
                      <a href="{% url 'projeto:projectEdit' pjts.id %}" class="btn btn-edit">Editar</a></th>
                      <form method="post" action="{% url 'projeto:projectDelete' pjts.id %}" class="btn">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-delete">
                              Deletar
                          </button>
                      </form>
                  </td>
                  
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há projetos cadastrados
</h1>
{% endif %}
{% endblock content %}