{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Visualização do projeto</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/projeto/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Nome: </strong>{{pjt.nome}}<br>
  <strong>Coordenador: </strong>{{pjt.coordenador}}<br>
  <strong>Participantes: </strong>{{pjt.participantes}}<br>
  <strong>Descrição: </strong>{{pjt.descricao}}<br>
  {% endblock dados %}
</div>
{% endblock content %}