{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>

  {% block titulo %}
  <h1>Cadastrar Projeto</h1>
  {% endblock  %}
  
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  {% block botao %}
  <a href="/projeto/" class="btn btn-info">voltar</a>
  {% endblock  %}
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <form name="form" id="form" action="{%if pjt %}{% url 'projeto:projectUpdate' pjt.id %}{%else%}{% url 'projeto:projectCreate' %}{%endif%}" method="post">
      {% block form %}
      {% csrf_token %}
      <div class='form-group mt-4'>Nome: {{form.nome}}</div>
      <div class='form-group mt-4'>Coordenador: {{form.coordenador_projeto}}</div>
      <div class='form-group mt-4'>Participantes: {{form.participantes}}</div>
      <div class='form-group mt-4'>Laboratório: {{form.laboratorio_projeto}}</div>
      <div class='form-group mt-4'>Descrição: {{form.descricao}}</div>
      <div class='form-group mt-4'></div>
      <input type="submit" class="btn btn-success" value="Salvar">
      {% endblock form %}
  </form>
</div>
{% endblock content %}