{% extends 'base.html' %}
{% block title %}
    Gestor Lab - Cadastrar Projetos
{% endblock title %}
{% block content %}
<div>
  <div class='col-8 m-auto pt-4 lab-forms shadow mt-4'>
    {% block titulo %}
    <div class="lab-cadastro text-center">
      <h1>Cadastrar projeto</h1>
    </div>
    {% endblock  %}
    <form name="form" id="form" action="{%if pjt %}{% url 'projeto:projectUpdate' pjt.id %}{%else%}{% url 'projeto:projectCreate' %}{%endif%}" method="post">
      {% csrf_token %}
      <div class='form-group mt-4 nome'>Nome: {{form.nome}}</div>
      <div class='form-group mt-4 coordenador'>Coordenador: {{form.coordenador_projeto}}</div>
      <div class='form-group mt-4 participante'>Participantes: {{form.participantes}}</div>
      <div class='form-group mt-4 lab'>Laboratório: {{form.laboratorio_projeto}}</div>
      <div class='form-group mt-4 desc'>Descrição: {{form.descricao}}</div>
      <div class='form-group mt-4'></div>
      <input type="submit" class="btn btn-cadastrar" value="Cadastrar">
      <a href="/projeto/" class="btn btn-voltar">voltar</a>
  </form>
  </div>
</div>
{% endblock content %}