{% extends 'base.html' %}
{% load static %}

{% block title %} Gestor Lab - Membros {% endblock title %}


{% block content %}
    <div class='col-8 m-auto pt-2 pb-2 text-center'>
        <h1>Membros</h1>
    </div>

    <div class='col-8 m-auto pt-3 pb-2 text-center'>
        {% if user.is_authenticated %}
        <a href="{% url 'cadastrar_membro' %}" class="btn btn-add">Adicionar Membros</a>
        {% endif %}
    </div>

    {% if membros %}

    <div class='col-8 m-auto pt-4 pb-2 text-center'>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Laboratório</th>
                <th scope="col">Perfil</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for membro in membros %}
                    <tr>
                        <td>{{membro.nome}}</td>
                        <td>{{membro.email}}</td>
                        <td>{{membro.telefone}}</td>
                        <td>{{membro.laboratorio}}</td>
                        <td>{{membro.membro_perfil}}</td>
                        {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'visualizar_membro' membro.id %}" class="btn btn-view">Visualizar</a>
                            <a href="{% url 'editar_membro' membro.id %}" class="btn btn-edit">Editar</a>
                            <form method="post" action="{% url 'excluir_membro' membro.id %}" class="btn">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-delete">
                                    Deletar
                                </button>
                            </form>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h1 class ='text-center mt-5'>
        Não há membros cadastrados
        <div class='col-8 m-auto pt-4 pb-2 text-center'>
        </div>
    </h1>
    {% endif %}

{% endblock content %}

