{% extends 'base.html' %}

{% load static %}

{% block title %} Gestor Lab - Membros {% endblock title %}


{% block content %}
    <div class="container">
        <div>
            <div class='membro-titulo'>
                <h1 class="membro">Membros</h1>
                {% if user.is_authenticated %}
                <a href="{% url 'cadastrar_membro' %}" class="btn btn-add">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    Adicionar Membros
                </a>
                {% endif %}
            </div>
        </div>
       
        <div>
            <div class="membro-form row">
              <form method="GET" id="search-form">
                <div class="input-group mb-3">
                    <input class="form-control input-membro" type="text" id="search" name="search" placeholder="Digite o nome do membro para buscar..." value="{{ request.GET.search }}">
                    <button class="btn btn-search" type="submit" id="button-addon1">Buscar</button>
                </div>
              </form>
            </div>
            <hr>
        </div>
    
        {% if page %}
    
        <div class='table-membro'>
            
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Laboratório</th>
                    <th scope="col">Perfil</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for membro in page %}
                        <tr>
                            <td>{{membro.nome}}</td>
                            <td>{{membro.email}}</td>
                            <td>{{membro.telefone}}</td>
                            <td>{{membro.laboratorio}}</td>
                            <td>{{membro.membro_perfil}}</td>
                            {% if user.is_authenticated %}
                            <td>
                                <a href="{% url 'visualizar_membro' membro.id %}" class="btn btn-view">Visualizar</a>
                                <a href="{% url 'editar_membro' membro.id %}" class="btn btn-edit">Editar</a>
                                <form method="post" action="{% url 'excluir_membro' membro.id %}" class="btn">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-delete">
                                        Deletar
                                    </button>
                                </form>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page-links">
                {% if page.has_previous %}
                  <a href="{% url 'listar_membros' %}?page={{page.previous_page_number}}">Anterior</a>
                {% endif %}
                {% if page.has_next %}
                  <a href="{% url 'listar_membros' %}?page={{page.next_page_number}}">Próximo</a>
                {% endif %}
              </div>
        </div>
        {% else %}
        <div class="membro-vazio">
            <h1>
                Não há membros cadastrados
            </h1>
        </div>
        {% endif %}
    </div>

{% endblock content %}

