{% extends 'base.html' %}
{% load static %}

{% block title%} 
    Cadastrar Membro 
{% endblock title %}

{% block content %}
<div>
    <div class='col-8 m-auto pt-4 lab-forms shadow'>
      {% block titulo %}
      <div class="lab-cadastro text-center">
        <h1>Cadastrar Membro</h1>
      </div>
      {% endblock  %}
      <form name="form" id="form" action="" method="post" autocomplete="off">
        <div class="mb-3">
            {% csrf_token %}
            <div class='form-group mt-4 Nome-membro'>Nome: {{form.nome}}</div>
            <div class='form-group mt-4 Email-membro'>E-Mail: {{form.email}}</div>
            <div class='form-group mt-4 Telefone-membro'>Telefone: {{form.telefone}}</div>
            <div class='form-group mt-4 lab-membro'>Laboratório: {{form.laboratorio}}</div>
            <div class='form-group mt-4 perfil-membro'>Perfil: {{form.membro_perfil}}</div>
            <div class='form-group mt-4'></div>
            <input type="submit" class="btn btn-cadastrar"  value="Cadastrar">
            <a href="/membros/" class="btn btn-voltar">Voltar</a>
        </div>
    </form>
    </div>
  </div>
{% endblock content %}