{% extends 'base.html' %}
{% load static %}

{% block title %}
    Visualização {{membro.nome}}
{% endblock title %}

{% block content %}
    <div class='col-8 m-auto pt-2 pb-2 text-center mt-4'>
        <h1>Visualização {{membro.nome}}</h1>
    </div>

    <div class='col-8 m-auto pt-4 pb-4'>
        <div class="list-view-lab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Nome: </strong>{{membro.nome}}<br></li>
                <li class="list-group-item"><strong>E-Mail: </strong>{{membro.email}}<br></li>
                <li class="list-group-item"><strong>Telefone: </strong>{{membro.telefone}}<br></li>
                <li class="list-group-item"><strong>Laboratório: </strong>{{membro.laboratorio}}<br></li>
                <li class="list-group-item"><strong>Perfil: </strong>{{membro.membro_perfil}}<br></li>
            </ul>
        </div>
        <a href="/membros" class="btn btn-voltar">Voltar</a>
    </div>
{% endblock content %}