{% extends 'base.html' %}


{% block content %}
        

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Redefinir senha</h2>
		<hr>
		<p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail com instruções para configurar um novo.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form.as_p }}                    
            <button class="btn btn-primary" type="submit">Enviar email</button>
        </form>
  	</div> 

{% endblock %}