{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização da linha de pesquisa</h1>
  {% endblock view %}
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/linhapesquisa/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Nome: </strong>{{db.nome}}<br>
  <strong>Descrição: </strong>{{db.descricao}}<br>
  <strong>Área: </strong>{{db.area}}<br>
  <strong>CNPQ: </strong>{{db.cnpq}}<br>
  <strong>Laboratório: </strong>{{db.laboratorio_pesq}}<br>
  {% endblock dados %}
</div>
{% endblock content %}