{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Linhas de Pesquisa</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  {% if user.is_authenticated %}
  <a href="{% url 'linhapesquisa:linhaForm' %}" class="btn btn-add">Adicionar Linha de Pesquisa</a>
  {% endif %}
</div>
{% if page %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          {% block th %}
          <th scope="col">Nome</th>
          <th scope="col">Área CNPQ</th>
          <th scope="col">Subárea CNPQ</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
          {% endblock th %}
        </tr>
      </thead>
      <tbody>
          {% for dbs in page %}
              <tr>
                  {% block linhas %}
                  <td>{{dbs.nome}}</td>
                  <td>{{dbs.areaCNPQ}}</td>
                  <td>{{dbs.subAreaCNPQ}}</td>
                  <td>{{dbs.laboratorio_pesq}}</td>
                  <td>{{dbs.descricao}}</td>
                  {% if user.is_authenticated%}
                  <td>
                    <a href="{% url 'linhapesquisa:linhaView' dbs.id %}" class="btn btn-view">Visualizar</a>
                    <a href="{% url 'linhapesquisa:linhaEdit' dbs.id %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'linhapesquisa:linhaDelete' dbs.id %}" class="btn btn-delete">Deletar</a>
                  </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  {% endblock linhas %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="page-links">
    {% if page.has_previous %}
      <a href="{% url 'linhapesquisa:home' %}?page={{page.previous_page_number}}">Anterior</a>
    {% endif %}
    {% if page.has_next %}
      <a href="{% url 'linhapesquisa:home' %}?page={{page.next_page_number}}">Próximo</a>
    {% endif %}
  </div>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há linhas de pesquisa cadastradas
  <div class='col-8 m-auto pt-4 pb-2 text-center'>
  </div>
</h1>
{% endif %}
{% endblock content %}