{% extends 'base.html' %}
{% block title %}
    Gestor Lab - Cadastrar Pesquisa
{% endblock title %}
{% block content %}
<div>
  <div class='col-8 m-auto pt-4 lab-forms shadow mt-4'>
    {% block titulo %}
    <div class="lab-cadastro text-center">
      <h1>Cadastrar linha de pesquisa</h1>
    </div>
    {% endblock  %}
    <form name="form" id="form" action="{%if db %}{% url 'linhapesquisa:linhaUpdate' db.id %}{%else%}{% url 'linhapesquisa:linhaCreate' %}{%endif%}" method="post">
        <div class="mb-3">
          {% csrf_token %}
          <div class='form-group mt-4 nome'>Nome: {{form.nome}}</div>
          <div class='form-group mt-4 area'>Área CNPQ: {{form.areaCNPQ}}</div>
          <div class='form-group mt-4 desc'>Subárea CNPQ: {{form.subAreaCNPQ}}</div>
          <div class='form-group mt-4 lab'>Laboratório: {{form.laboratorio_pesq}}</div>
          <div class='form-group mt-4 desc'>Descrição: {{form.descricao}}</div>
          <div class='form-group mt-4'></div>
          <input type="submit" class="btn btn-cadastrar" value="Cadastrar">
          <a href="/linhapesquisa/" class="btn btn-voltar">voltar</a>
        </div>
    </form>
  </div>
</div>
{% endblock content %}