*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  .navbar-css {
    overflow: hidden;
    background-color: #70C4CA;
  }
  
  .navbar-css a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown-css {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-css .dropbtn-css {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar-css a:hover, .dropdown-css:hover .dropbtn-css {
    background-color: #58969b;
    color: #fff;
  }
  
  .dropdown-content-css {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-css a {
    float: none;
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content-cs a:hover {
    background-color: #ddd;
  }
  
  .dropdown-css:hover .dropdown-content-css {
    display: block;
  }
.btn-add {
    color: #fff;
    background-color: #70CA7E;
    border-color: #70CA7E;
}

.btn-add:hover {
    color: #fff;
    background-color: #559c60;
    border-color: #559c60;
}

.btn-view {
    color: #fff;
    background-color: #70C4CA;
    border-color: #70C4CA;
}

.btn-view:hover{
    color: #fff;
    background-color: #58969b;
    border-color: #58969b;
}

.btn-edit {
    color: #fff;
    background-color: #CAC170;
    border-color: #CAC170;
}

.btn-edit:hover {
    color: #fff;
    background-color: #999254;
    border-color: #999254;
}


.btn-delete {
    color: #fff;
    background-color: #CA7070;
    border-color: #CA7070;
}

.btn-delete:hover {
    color: #fff;
    background-color: #754343;
    border-color: #754343;
}