html{
    font-size: 62.5%;
}

.table td, .table th {
    padding: 8px;
    line-height: 3;
}

.bg-dark {
    background-color: #70C4CA!important;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70C4CA;
}
  
li {
    float: left;
    line-height: 60px;
}
  
li a.link {
    display: block;
    color: black;
    text-decoration: none;
}

li a.link:hover:not(.active) {
    background-color: #70C4CA;
}

.login{
    margin-left: 200px;
}
