.fa.fa-search{
    position: absolute;
    top: 153.5px;
    right: 354px;
    cursor: pointer;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}