h1.titulo{
    font-size: 35px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: bold;
}

h2.subtitulo{
    font-size: 30px;
    line-height: 2;
}

span.gl{
    font-weight: bold;
    color: #70C4CA;
}

h3{
    font-size: 20px;
}

.bg-dark {
    background-color: #70C4CA!important;
}

a{
    text-decoration: none;
    color: #70C4CA;
}

a:hover{
    color: #58969b
}

.content{
    margin-bottom: 50px;
}

.bg-primary {
    background-color: #58969b!important;
}

.navbar-css {
    overflow: hidden;
    background-color: #70C4CA;
    height: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70C4CA;
}
  
div.navbar-css ul li {
    float: left;
    line-height: 10px;
}
  
li a.link {
    display: block;
    color: black;
    text-decoration: none;
}

li a.link:hover:not(.active) {
    background-color: #70C4CA;
}

.login{
    margin-left: 200px;
}

li a.logo{
    position: relative;
    left: 5px;
    bottom:15px;
}