{% extends 'base.html' %}
{% block title %}
    Gestor Lab - Cadastrar TCC
{% endblock title %}
{% block content %}
<div>
  <div class='col-8 m-auto pt-4 lab-forms shadow mt-4'>
    <div class="lab-cadastro text-center">
      <h1>Cadastrar Tcc</h1>
    </div>
    <form name="form" id="form" action="{%if db %}{% url 'tcc:update' db.id %}{%else%}{% url 'tcc:create' %}{%endif%}" method="post">
      <div class="mb-3">
        {% csrf_token %}
        <div class='form-group mt-4 desc'>Título: {{form.titulo}}</div>
        <div class='form-group mt-4 desc'>Autores: {{form.autores}}</div>
        <div class='form-group mt-4 desc'>Orientadores: {{form.orientadores}}</div>
        <div class='form-group mt-4 desc'>Instituição: {{form.instituicao}}</div>
        <div class='form-group mt-4 desc'>Data de publicação: {{form.dtpublicacao}}</div>
        <div class='form-group mt-4 desc'>Pesquisa: {{form.pesquisa}}</div>
        <div class='form-group mt-4 desc'>Descrição: {{form.descricao}}</div>
        <div class='form-group mt-4'></div>
        <input type="submit" class="btn btn-cadastrar" value="Cadastrar">
        <a href="/tcc/" class="btn btn-voltar">voltar</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}