{% extends 'base.html' %}
{% block title %}
  Gestor Lab - TCC
{% endblock title %}
{% block content %}
<div class="container">
  <div>
    <div class="lab-titulo">
      <h1 class="lab">TCCs</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'tcc:form'%}" class="btn btn-add">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          Adicionar TCC
        </a>
      {% endif %}
    </div>
  </div>
  <div class="lab-form row">
      <form method="GET" id="search-form">
        <div class="input-group mb-3">
          <input class="form-control input-lab" type="text" id="search" name="search" placeholder="Digite o titulo do tcc para buscar..." value="{{ request.GET.search }}">
          <button class="btn btn-search" type="submit" id="button-addon1">Buscar</button>
        </div>
      </form>
  </div>
  <hr>
  {% if page %}
  <div class="table-lab">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            {% block th %}
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Orientador</th>
            <th scope="col">Instituição</th>
            <th scope="col">Data</th>
            <th scope="col">Pesquisa</th>
            <th scope="col"></th>
            {% endblock th %}
          </tr>
        </thead>
        <tbody>
            {% for dbs in page %}
                <tr>
                    {% block linhas %}
                    <td>{{dbs.titulo}}</td>
                    <td>{{dbs.autores}}</td>
                    <td>{{dbs.orientadores}}</td>
                    <td>{{dbs.instituicao}}</td>
                    <td>{{dbs.dtpublicacao}}</td>
                    <td>{{dbs.pesquisa}}</td>
                    {% if user.is_authenticated %}
                    <td>
                      <a href="{% url 'tcc:view' dbs.id %}" class="btn btn-view">Visualizar</a>
                      <a href="{% url 'tcc:edit' dbs.id %}" class="btn btn-edit">Editar</a>
                      <a href="{% url 'tcc:delete' dbs.id %}" class="btn btn-delete">Deletar</a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% endblock linhas %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="page-links">
      {% if page.has_previous %}
        <a href="{% url 'tcc:home' %}?page={{page.previous_page_number}}">Anterior</a>
      {% endif %}
      {% if page.has_next %}
        <a href="{% url 'tcc:home' %}?page={{page.next_page_number}}">Próximo</a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="lab-vazio">
    <h1>
      Não há TCC's cadastrados
    </h1>
  </div>
  {% endif %}
</div>
{% endblock content %}