{% extends 'base.html' %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            
        </div>

        <div class="col-md">
            <h1>Login</h1>
            <hr>

            <form method="POST" action="{% url 'logar_user' %}">
                {% csrf_token %}
                <label>Username</label>
                <input name="username" class="form-control" type="text" placeholder="Email...">
                <br>
                <label>Senha</label>
                <input name="password" class="form-control" type="password" placeholder="Senha...">
                <br>
                <input class="btn btn-info btn-lg" type="submit" value="Enviar">
                <a href="{% url 'cadastrar_user' %}" class="btn btn-warning btn-lg">Cadastre-se</a>
            </form>
        </div>

        <div class="col-md-3">
            
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}