{% extends 'base.html' %}

{% block content %}
{% if form_senha.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Preencha o formulário de forma correta!
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>

{% endif %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">
                
        </div>

        <div class="membro-vazio">
            <h1>Senha Alterada com Sucesso</h1>
        </div>

        <div class="col-md-3">
        </div>
    </div>
        
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}