{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Eventos</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="{% url 'evento:eventForm' %}" class="btn btn-add">Adicionar Eventos</a>
</div>
{% if evt %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Área</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Site</th>
          <th scope="col">Data de submissão</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
          {% for evts in evt %}
              <tr>
                  
                  <td>{{evts.titulo}}</td>
                  <td>{{evts.area}}</td>
                  <td>{{evts.laboratorio}}</td>
                  <td><a href ={{evts.site}}>{{evts.site}}<a></td>
                  <td>{{evts.data_sbm}}</td>
                  <td>{{evts.descricao}}</td>

                  <td>
                      <a href="{% url 'evento:eventView' evts.id %}" class="btn btn-view">Visualizar</a>
                      <a href="{% url 'evento:eventEdit' evts.id %}" class="btn btn-edit">Editar</a></th>
                      <form method="post" action="{% url 'evento:eventDelete' evts.id %}" class="btn">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-delete">
                              Deletar
                          </button>
                      </form>
                  </td>
                  
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há eventos cadastrados
</h1>
{% endif %}
{% endblock content %}