{% extends 'base.html' %}
{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Visualização do evento</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/evento/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Título: </strong>{{evt.titulo}}<br>
  <strong>Área: </strong>{{evt.area}}<br>
  <strong>Laboratório: </strong>{{evt.laboratorio}}<br>
  <strong>Site: </strong>{{evt.site}}<br>
  <strong>Data: </strong>{{evt.data_sbm}}<br>
  <strong>Descrição: </strong>{{evt.descricao}}<br>
  {% endblock dados %}
</div>
{% endblock content %}