{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Laboratório</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="{% url 'laboratorio:form'%}" class="btn btn-add">Adicionar Laborátorio</a>
</div>
{% if db %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          {% block th %}
          <th scope="col">Nome</th>
          <th scope="col">Sigla</th>
          <th scope="col">Coordenador</th>
          <th scope="col">Vice-coordenador</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
          {% endblock th %}
        </tr>
      </thead>
      <tbody>
          {% for dbs in db %}
              <tr>
                  {% block linhas %}
                  <td>{{dbs.nome}}</td>
                  <td>{{dbs.sigla}}</td>
                  <td>{{dbs.coordenador}}</td>
                  <td>{{dbs.vice_coordenador}}</td>
                  <td>{{dbs.descricao}}</td>
                  <td>
                      <a href="{% url 'laboratorio:view' dbs.id %}" class="btn btn-view">Visualizar</a>
                      <a href="{% url 'laboratorio:edit' dbs.id %}" class="btn btn-edit">Editar</a>
                      <a href="{% url 'laboratorio:delete' dbs.id %}" class="btn btn-delete">Deletar</a>
                  </td>
                  {% endblock linhas %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há laboratorios cadastrados
</h1>
{% endif %}
{% endblock content %}