{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização do {{db.nome}}</h1>
  {% endblock view %}
</div>


<div class='col-8 m-auto pt-4 pb-4'>
  {% block dados %}
  <div class="list-view-lab">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Nome: </strong>{{db.nome}}<br></li>
      <li class="list-group-item"><strong>Sigla: </strong>{{db.sigla}}<br></li>
      <li class="list-group-item"><strong>Coordenador: </strong>{{db.coordenador}}<br></li>
      <li class="list-group-item"><strong>Vice-coordenador: </strong>{{db.vice_coordenador}}<br></li>
      <li class="list-group-item"><strong>Descrição: </strong>{{db.descricao}}<br></li>
    </ul>
  </div>
  <a href="/laboratorio/" class="btn btn-voltar">voltar</a>
  {% endblock dados %}
</div>
{% endblock content %}