{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização do laboratório</h1>
  {% endblock view %}
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/laboratorio/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Nome: </strong>{{db.nome}}<br>
  <strong>Sigla: </strong>{{db.sigla}}<br>
  <strong>Coordenador: </strong>{{db.coordenador}}<br>
  <strong>Vice-coordenador: </strong>{{db.vice_coordenador}}<br>
  <strong>Descrição: </strong>{{db.descricao}}<br>
  {% endblock dados %}
</div>
{% endblock content %}