{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Gestor Lab - Pagina Inicial
        {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/icon-gl.ico' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="navbar-css">
          <ul>
            {% block logo %}
            <li><img src="/static/img/logo.png" width="50"></li>
            <li class='li-pr'>
            {% endblock logo %}
              <a class='link-nav' href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
                Inicio
              </a>
          </li>
            <li class='li-pr'>
              <div class="dropdown-css">
                <button class="dropbtn-css">
                  Menu 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content-css">
                  <a class="link"href="/laboratorio/">Laborátorios</a>
                  <a class="link" href="/membros/">Membros</a>
                  <a class="link" href="/evento/">Eventos</a>
                  <a class="link" href="/projeto/">Projetos</a>
                  <a class="link" href="/artigo/">Artigos</a>
                  <a class="link" href="/linhapesquisa/">Pesquisas</a>
                  <a class="link" href="/tcc/">TCC</a>
                  <a class="link" href="/horario/">Horários</a>
                  <a class="link" href="/apresentacao/">Apresentações</a>
                  <a class="link" href="/estagio/">Estágios</a>
                </div>
              </div> 
            <li ><a class='link-nav' href="/sobre/">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Sobre
            </a>
          </li>
           <li class = "login li-pr">
            <div class="dropdown-css">
              <button class="dropbtn-css">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                {% if user.is_authenticated%}
                {{user.username}} 
                {% else %}
                Login
                {% endif %}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content-css-login">
                {% if user.is_authenticated %}
                <a class="link" href="{% url 'mudar_senha' %}">
                  <i class="fa fa-lock"></i>
                  Mudar senha
                </a>
                <a class="link" href="{% url 'deslogar_usuario' %}">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  Sair
                </a>
                {% else %}
                <a class="link" href="{% url 'logar_user' %}">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Entrar
                </a>
                <a class="link" href="{% url 'cadastrar_user' %}">
                  <i class="fa fa-user"></i>
                  Cadastro
                </a>
                {% endif %}
              </div>
            </div>
           </li>
          </ul>
        </div>
    </header>

    {% block content %}
    {% endblock content %}
    <br>
    {% block footer %}
    <footer>
      <div class="footer-content">
        <h3>Gestor Lab</h3>
        <p>O Gestor Lab é um rojeto de Gestão de Laboratórios para gerenciar a equipe, as tarefas, os projetos, os artigos e as apresentações em no laboratório no LabCoffee MeetUp.</p>
      </div>
      <div class="footer-bottom">
        <p>Copyright © Gestor Lab 2022. designed by <span>Habby Valle</span></p>
      </div>
    </footer>
    {% endblock footer %}
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>