{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização do artigo</h1>
  {% endblock view %}
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/artigo/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Título: </strong>{{art.titulo}}<br>
  <strong>Autores: </strong>{{art.autores}}<br>
  <strong>Local de Publicação: </strong>{{art.local_Publi}}<br>
  <strong>Descrição: </strong>{{art.descricao}}<br>
  <strong>Laboratório: </strong>{{art.laboratorio_art}}<br>
  {% endblock dados %}
</div>
{% endblock content %}