{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Artigos</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="{% url 'artigo:artForm' %}" class="btn btn-add">Adicionar Artigos</a>
</div>
{% if art %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Autores</th>
          <th scope="col">Local de Publicação</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for arts in art %}
              <tr>
                  <td>{{arts.titulo}}</td>
                  <td>{{arts.autores}}</td>
                  <td><a href={{arts.local_Publi}}>{{arts.local_Publi}}</a></td>
                  <td>{{arts.laboratorio_art}}<a></td>
                      <td>{{arts.descricao}}<a></td>
                  <td>
                      <a href="{% url 'artigo:artView' arts.id %}" class="btn btn-view">Visualizar</a>
                      <a href="{% url 'artigo:artEdit' arts.id %}" class="btn btn-edit">Editar</a>
                      <a href="{% url 'artigo:artDelete' arts.id %}" class="btn btn-delete">Deletar</a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há artigos cadastrados
</h1>
{% endif %}
{% endblock content %}