{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Artigos</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  {% if user.is_authenticated %}
  <a href="{% url 'artigo:artForm' %}" class="btn btn-add">Adicionar Artigos</a>
  {% endif %}
</div>
{% if page %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Autores</th>
          <th scope="col">Local de Publicação</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for arts in page %}
              <tr>
                  <td>{{arts.titulo}}</td>
                  <td>{{arts.autores}}</td>
                  <td><a href={{arts.local_Publi}}>{{arts.local_Publi}}</a></td>
                  <td>{{arts.laboratorio_art}}<a></td>
                      <td>{{arts.descricao}}<a></td>
                 {% if user.is_authenticated %}
                 <td>
                  <a href="{% url 'artigo:artView' arts.id %}" class="btn btn-view">Visualizar</a>
                  <a href="{% url 'artigo:artEdit' arts.id %}" class="btn btn-edit">Editar</a>
                  <a href="{% url 'artigo:artDelete' arts.id %}" class="btn btn-delete">Deletar</a>
                </td>
                 {% else %}
                 <td></td>
                 {% endif %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="page-links">
    {% if page.has_previous %}
      <a href="{% url 'artigo:home' %}?page={{page.previous_page_number}}">Anterior</a>
    {% endif %}
    {% if page.has_next %}
      <a href="{% url 'artigo:home' %}?page={{page.next_page_number}}">Próximo</a>
    {% endif %}
  </div>
</div>
{% else %}
<h1 class ='text-center mt-5'>
  Não há artigos cadastrados
  <div class='col-8 m-auto pt-4 pb-2 text-center'>
  </div>
</h1>
{% endif %}
{% endblock content %}