{% extends 'base.html' %}
{% block title %}
    Gestor Lab - Cadastrar Artigo
{% endblock title %}
{% block content %}
<div>
  <div class='col-8 m-auto pt-4 lab-forms shadow'>
    {% block titulo %}
    <div class="lab-cadastro text-center">
      <h1>Cadastrar artigo</h1>
    </div>
    {% endblock  %}
    <form name="form" id="form" action="{%if art %}{% url 'artigo:artUpdate' art.id %}{%else%}{% url 'artigo:artCreate' %}{%endif%}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <div class='form-group mt-4 titulo'>Título: {{form.titulo}}</div>
        <div class='form-group mt-4 autor'>Autores: {{form.autores}}</div>
        <div class='form-group mt-4 local'>Local de Pubicação: {{form.local_Publi}}</div>
        <div class='form-group mt-4 lab'>Laboratório {{form.laboratorio_art}}</div>
        <div class='form-group mt-4 desc'>Descrição: {{form.descricao}}</div>
        <div class='form-group mt-4'></div>
        <input type="submit" class="btn btn-cadastrar" value="Cadastrar">
        <a href="/artigo/" class="btn btn-voltar">Voltar</a>  
      </div>
  </form>
  </div>
</div>
{% endblock content %}