{% extends 'base.html' %}
{% block title %}
    Visualização {{db.titulo}}
{% endblock title %}
{% block content %}

<div class='col-8 m-auto pt-2 pb-2 text-center mt-4'>
  <h1>Visualização {{db.titulo}}</h1>
</div>
<div class='col-8 m-auto pt-4 pb-4'>
  <div class="list-view-lab">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Título: </strong>{{db.titulo}}<br>
      <li class="list-group-item"><strong>Autores: </strong>{{db.autores}}<br>
      <li class="list-group-item"><strong>Data da apresesentação: </strong>{{db.dataApresentacao}}<br>
      <li class="list-group-item"><strong>Projeto: </strong>{{db.projeto}}<br>
      <li class="list-group-item"><strong>Descrição: </strong>{{db.descricao}}<br>
    </ul>
  </div>
  <a href="/apresentacao/" class="btn btn-voltar">voltar</a>
</div>
{% endblock content %}