{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  <h1>Apresentação</h1>
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  {% if user.is_authenticated %}
  <a href="{% url 'apresentacao:form'%}" class="btn btn-add">Adicionar Apresentação</a>
  {% endif %}
  
</div>
{% if page %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <div class="col-9 search-div">
    <form method="GET" id="search-form">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o titulo da apresentação para buscar..." value="{{ request.GET.search }}">
        <i class="fa fa-search" id="search-btn"></i>
    </form>
  </div>
  <table class="table">
      <thead class="thead-dark">
        <tr>

          <th scope="col">Título</th>
          <th scope="col">Autores</th>
          <th scope="col">Data da Apresentação</th>
          <th scope="col">Projeto</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
          {% for dbs in page %}
              <tr>
                  <td>{{dbs.titulo}}</td>
                  <td>{{dbs.autores}}</td>
                  <td>{{dbs.dataApresentacao}}</td>
                  <td>{{dbs.projeto}}</td>
                  <td>{{dbs.descricao}}</td>
                  {% if user.is_authenticated %}
                  <td>
                    <a href="{% url 'apresentacao:view' dbs.id %}" class="btn btn-view">Visualizar</a>
                    <a href="{% url 'apresentacao:edit' dbs.id %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'apresentacao:delete' dbs.id %}" class="btn btn-delete">Deletar</a>
                  </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="page-links">
    {% if page.has_previous %}
      <a href="{% url 'apresentacao:home' %}?page={{page.previous_page_number}}">Anterior</a>
    {% endif %}
    {% if page.has_next %}
      <a href="{% url 'apresentacao:home' %}?page={{page.next_page_number}}">Próximo</a>
    {% endif %}
  </div>
</div>
{% else %}
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <div class="col-9 search-div">
    <form method="GET" id="search-form">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o titulo da apresentação para buscar..." value="{{ request.GET.search }}">
        <i class="fa fa-search" id="search-btn"></i>
    </form>
  </div>
  <h1 class ='text-center mt-5'>
    Não há apresentações cadastradas
  </h1>
</div>

{% endif %}
{% endblock content %}

