{% extends 'base.html' %}

{% block content %}
<div class='col-8 m-auto pt-2 pb-2 text-center'>
  {% block view %}
  <h1>Visualização da Apresentação</h1>
  {% endblock view %}
</div>

<div class='col-8 m-auto pt-3 pb-2 text-center'>
  <a href="/apresentacao/" class="btn btn-info">voltar</a>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  {% block dados %}
  <strong>Título: </strong>{{db.titulo}}<br>
  <strong>Autores: </strong>{{db.autores}}<br>
  <strong>Data da apresesentação: </strong>{{db.dataApresentacao}}<br>
  <strong>Pesquisa: </strong>{{db.pesquisa}}<br>
  <strong>Descrição: </strong>{{db.descricao}}<br>

  {% endblock dados %}
</div>
{% endblock content %}