{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Cadastrar Usuário" %}

{% endblock %}
{% block content %}
  
  <div class='col-8 m-auto pt-2 pb-2 text-center'>
    <h1>{% trans "Cadastro de Usuário" %}</h1>
</div>
<div class='col-8 m-auto pt-4 pb-2 text-center'>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <input type="submit" class="btn btn-success" value="Cadastrar">
  </form>
</div>


{% endblock %}
